$map-margin: (
  m: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin: calc(0 * var(--spacer))
      ),
      1: (
        margin: calc(1 * var(--spacer))
      ),
      2: (
        margin: calc(1.5 * var(--spacer))
      ),
      3: (
        margin: calc(2 * var(--spacer))
      ),
      4: (
        margin: calc(2.5 * var(--spacer))
      ),
      5: (
        margin: calc(3 * var(--spacer))
      ),
      6: (
        margin: calc(3.5 * var(--spacer))
      )
    )
  ),
  mt: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-top: calc(0 * var(--spacer))
      ),
      1: (
        margin-top: calc(1 * var(--spacer))
      ),
      2: (
        margin-top: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-top: calc(2 * var(--spacer))
      ),
      4: (
        margin-top: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-top: calc(3 * var(--spacer))
      ),
      6: (
        margin-top: calc(3.5 * var(--spacer))
      )
    )
  ),
  mr: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-right: calc(0 * var(--spacer))
      ),
      1: (
        margin-right: calc(1 * var(--spacer))
      ),
      2: (
        margin-right: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-right: calc(2 * var(--spacer))
      ),
      4: (
        margin-right: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-right: calc(3 * var(--spacer))
      ),
      6: (
        margin-right: calc(3.5 * var(--spacer))
      )
    )
  ),
  mb: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-bottom: calc(0 * var(--spacer))
      ),
      1: (
        margin-bottom: calc(1 * var(--spacer))
      ),
      2: (
        margin-bottom: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-bottom: calc(2 * var(--spacer))
      ),
      4: (
        margin-bottom: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-bottom: calc(3 * var(--spacer))
      ),
      6: (
        margin-bottom: calc(3.5 * var(--spacer))
      )
    )
  ),
  ml: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-left: calc(0 * var(--spacer))
      ),
      1: (
        margin-left: calc(1 * var(--spacer))
      ),
      2: (
        margin-left: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-left: calc(2 * var(--spacer))
      ),
      4: (
        margin-left: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-left: calc(3 * var(--spacer))
      ),
      6: (
        margin-left: calc(3.5 * var(--spacer))
      )
    )
  ),
  my: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-top: calc(0 * var(--spacer)),
        margin-bottom: calc(0 * var(--spacer))
      ),
      1: (
        margin-top: calc(1 * var(--spacer)),
        margin-bottom: calc(1 * var(--spacer))
      ),
      2: (
        margin-top: calc(1.5 * var(--spacer)),
        margin-bottom: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-top: calc(2 * var(--spacer)),
        margin-bottom: calc(2 * var(--spacer))
      ),
      4: (
        margin-top: calc(2.5 * var(--spacer)),
        margin-bottom: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-top: calc(3 * var(--spacer)),
        margin-bottom: calc(3 * var(--spacer))
      ),
      6: (
        margin-top: calc(3.5 * var(--spacer)),
        margin-bottom: calc(3.5 * var(--spacer))
      )
    )
  ),
  mx: (
    is-responsive: true,
    default: false,
    modifiers: (
      0: (
        margin-left: calc(0 * var(--spacer)),
        margin-right: calc(0 * var(--spacer))
      ),
      1: (
        margin-left: calc(1 * var(--spacer)),
        margin-right: calc(1 * var(--spacer))
      ),
      2: (
        margin-left: calc(1.5 * var(--spacer)),
        margin-right: calc(1.5 * var(--spacer))
      ),
      3: (
        margin-left: calc(2 * var(--spacer)),
        margin-right: calc(2 * var(--spacer))
      ),
      4: (
        margin-left: calc(2.5 * var(--spacer)),
        margin-right: calc(2.5 * var(--spacer))
      ),
      5: (
        margin-left: calc(3 * var(--spacer)),
        margin-right: calc(3 * var(--spacer))
      ),
      6: (
        margin-left: calc(3.5 * var(--spacer)),
        margin-right: calc(3.5 * var(--spacer))
      ),
      auto: (
        margin-left: auto,
        margin-right: auto
      )
    )
  )
)