.link {
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: inherit;
	transition: border-color 0.3s ease-in-out;
	color: var(--color-text-primary);
	&:active {
		color: inherit;
	}
	&:hover {
		color: inherit;
		border-color: transparent;
		cursor: pointer;
	}
}

.link--no-border {
	border-width: 0;
}
